{% extends 'BookBundle::layout.html.twig' %}
{% block title %} Registration {% endblock %}

{% block body %}
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal col-lg-4 col-md-4 col-sm-6 col-xs-10 pull-center">
        <div>
            {{ form_errors(form) }}
        </div>
        {{ form_row(form._token) }}
        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {{ form_label(form.email, 'Email', { 'attr': {'label_attr': 'control-label'}}) }}
                {{ form_widget(form.email, { 'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_errors(form.email) }}
        </div>

        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {{ form_label(form.username, 'Username', { 'attr': {'label_attr': 'control-label'}}) }}
                {{ form_widget(form.username, { 'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_errors(form.username) }}
        </div>

        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {{ form_label(form.realname, 'Real Name', { 'attr': {'label_attr': 'control-label'}}) }}
                {{ form_widget(form.realname, { 'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_errors(form.realname) }}
        </div>

        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {{ form_label(form.nickname, 'Nickname', { 'attr': {'label_attr': 'control-label'}}) }}
                {{ form_widget(form.nickname, { 'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_errors(form.nickname) }}
        </div>

        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {{ form_label(form.plainPassword.first, 'Password', { 'attr': {'label_attr': 'control-label'}}) }}
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_errors(form.plainPassword.first) }}
        </div>

        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {{ form_label(form.plainPassword.second, 'Repeat Password', { 'attr': {'label_attr': 'control-label'}}) }}
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_errors(form.plainPassword.second) }}
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input class="btn btn-success" type="submit" value="Register" />
            </div>
        </div>
    </form>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-10 pull-center">
        <div style="text-align: center; margin-bottom: 10px;">
            <strong>- OR -</strong>
        </div>
        <a class="btn btn-danger col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1" href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}" >
            <strong>Google</strong>
        </a>
    </div>
{% endblock %}